<!DOCTYPE html>
<html lang="en" ng-app="myDiagramm">
<head>
	<meta charset="UTF-8">
	<title>diagrams</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="LineCtrl">

		<div class="container">
			<div class="row">
				<canvas id="line" class="chart chart-line" chart-data="data"
					chart-labels="labels" chart-series="series" chart-options="options"
					chart-dataset-override="datasetOverride" chart-click="onClick"
				</canvas>
			</div>

			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-primary" ng-click="show()">show form add</button> <br>
					<hr>
					<form name="formAdd" ng-show="showHide" class="form-group">
						<div class="row">
							<div class="col-md-4">
								<label>
						       first value
						       <input class="form-control" type="text" name="firstValue" ng-model="coordX"  placeholder="enter value one" ng-required="true" ng-pattern="regexp">
								</label>
							</div>
							<div class="col-md-4">
								<label>
						       second value:
						       <input class="form-control" type="text" name="secondValue" ng-model="coordY"  placeholder="enter value two" ng-required="true" ng-pattern="regexp">
								</label>
							</div>
							<div class="col-md-4">
								<label>
						       Label:
						       <input class="form-control" type="text" name="label" ng-model="newLabel" placeholder="enter your label" ng-required="true">
								</label>
							</div>
							<hr>
						
							<div class="col-md-12">
								<button class="btn btn-primary" ng-click="formAdd.$valid && addItem()">add item</button>
							</div>
						</div>
						<hr>
					</form>
				</div>

				<div class="row">
					<div class="col-md-12">
						<h1 class="text-center text-uppercase">list</h1>
					</div>
					<div class="col-xs-4">
						<h4 class="text-uppercase" ng-repeat="label in labels">{{label}}</h4>
					</div>
					<div class="col-xs-4">
						<h4 class="text-center text-uppercase" ng-repeat="x in data[0]">X coordination: {{x}}</h4>
					</div>
					<div class="col-xs-4">
						<h4 class="text-center text-uppercase" ng-repeat="y in data[1]">Y coordination: {{y}}</h4>
					</div>
				</div>
				<hr>

				<h2>Total point: {{labels.length}}</h2>

			</div>
		</div>



	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/angular/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
	<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
	<script src="assets/js/app.js"></script>
	<script src="assets/js/controllers.js"></script>
</body>
</html>